.services-widget {
    padding: 27px 25px 30px;
    border-radius: 16px;
    background-color: #eeffef;
}

.services-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &__left{
        flex-basis: 49%;
        flex-grow: 1;
    }

    &__right{
        display: flex;
        flex-basis: 49%;
        flex-grow: 1;
    }
}

.services-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;

    &__lang{
        display: flex;
        background-color: #ffece9;
        border: 1px solid #f17c6d;
        border-radius: 10px;
    }

    &__text{
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        border-radius: 10px;
        display: inline-block;
        padding: 10px 25px;
        color: #f17c6d;
    }

    &__input:checked ~ &__text{
        color: #fff;
        background-color: #f17c6d;
    }

    &__title{
        margin: 0;
        color: #888888;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }
}

.copy-button{
    padding: 13px 53px;
    color: #fff;
    background-color: #49cb81;
    border-radius: 10px;
    border: 1px solid #49cb81;
    outline: none;
    transition: 0.3s ease;

    &:hover{
        background-color: #fff;
        color: #49cb81;
    }

    &:active{
        transform: scale(0.9);
    }
}

.services-input{
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #abd89f;
    background-color: #fff;
    outline-color: #49cb81;
}

.num-to-words{
    margin-bottom: 16px;

    &__label{
        display: flex;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #abd89f;
        margin-bottom: 20px;
    }

    &__input{
        width: 100%;
        border: none;
        outline: none;
    }

    &__textarea{
        width: 100%;
        resize: none;
        margin-bottom: 20px;
    }

    &__wrapper{
        display: flex;
        justify-content: flex-end;
    }
}

.translate-files{
    &__list{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 17px;
    }
}

.files-label{
    flex-grow: 1;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 53px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid;
    cursor: pointer;

    &__file{
        border: #49cb81;
        background-color: #49cb81;
    }
    &__word{
        border-color: #497BCB;
        background-color: #497BCB;
    }
    &__excel{
        border-color: #227547;
        background-color: #227547;
    }
}

.image-to-text{
    flex-grow: 1;
}

.upload-form{
    margin-bottom: 20px;

    &__label{
        display: block;
        background-color: #fff;
        border: 2px dashed #abd89f;
        padding: 42px 25px;
        text-align: center;
        border-radius: 10px;
    }

    &__label.active{
        border-style: solid;
        background-color: rgba(34, 117, 71, 0.1);
    }

    .upload-button{
        border: none;
        outline: none;
        background-color: transparent;
        color: #227547;
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
    }

    p{
        font-size: 14px;
        line-height: 28px;
        color: rgba(30, 30, 30,0.4);
    }
}

@media only screen and (max-width: 500px) {
    .services-widget{
        padding-left: 20px;
        padding-right: 20px;
    }
    .services-header{
        &__text{
            padding: 8px 16px;
        }
    }

    .copy-button{
        padding: 10px 35px;
    }
}